extends ../layout.pug

block content
  .row.mt-4
    .col-md-6.mx-auto
      if error && error.length > 0
        .alert.alert-danger
          = error
      .card
        .card-header.bg-primary.text-white.text-center
          h3 Connexion
        .card-body
          form(action="/auth/signin" method="POST")
            .mb-3
              label.form-label(for="email") Email
              input.form-control#email(type="email" name="email" required)
            .mb-3
              label.form-label(for="password") Mot de passe
              input.form-control#password(type="password" name="password" required)
            .d-grid.gap-2
              button.btn.btn-primary(type="submit") Se connecter
          hr
          .text-center
            p Pas encore de compte ? 
              a(href="/auth/signup") Inscrivez-vous 